/* Home Dashboard */

/* Basic Background Set */
body{
    background-color: #023337 !important;
    color: #fff !important;
}

/* Fix invisible text */
h1, h2, h3, h4, h5, h6, p, span, div, label, li, strong, b{
    color: #ffffff !important;
    background-color: transparent !important;
}

input, 
textarea, 
select {
    background-color:  #2b5b5b !important;
    color: #ffffff !important;
    border: 1px solid #555555 !important;
}

/* Fix buttons */
button, 
.btn, 
.button-class {
    background-color: #2b5b5b !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

/* Fix other elements that may be transparent (nor really needed) */


/* Containers */
.nav-link.mb-sm-3.mb-md-0.active{
    background-color: #c0e5b9 !important
    
}

.nav-link.mb-sm-3.mb-md-0, .bg-primary, .row.mt-3.py-3{
    background-color: #2e2f3d !important;
    color: #fff;
}


/* Top Bar */
.navbar.navbar-expand-lg.navbar-light.bg-light.p-3{
    background-color: #023337 !important;  
}
