/* Hall Ticket, Exams, Documents */

th, td, tr{
    color: #fff;
}


.display.dataTable.no-footer{
    background-color: #1d1d2d !important;
}




td.sorting_1, tr.odd,tr.even, .row{
    background-color: #2e2f3d !important;
    color: #fff !important;
    opacity: 1 !important;
    box-shadow: none !important;
    filter: none !important;
}
.font-weight-400.text-dark{
    color: #fff !important;
    opacity: 1 !important;
    box-shadow: none !important;
    filter: none !important;
}
